.auth {
  width: 300px;
  margin: 120px auto;
  text-align: center;
}

.auth input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.auth button {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}